<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue的入门</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id="root">
		<input type="text" v-model="name">
		<ul>
			<li v-for="cat in cats">{{ cat.name }}</li>
		</ul>
	</div>
	<script>
		function sortby(obj,obj2){
			return obj.age - obj2.age;
		}
		// vue创建一个实例
		const app = new Vue({
			el: "#root",
			data: {
				name:"Hello World!",
				cats: [
				{
					name: 'simba',
					age: 11
				},
				{
					name: 'robin', 
					age: 5
				},
				{
					name: 'pig',
					age: 3
				}
				].sort(sortby)
			}
		})
	</script>
</body>
</html>