<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件和实例的关系</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id="root">
		<div>
			<input type="text" v-model="inputValue">
			<button @click="handleSubmit" >提交</button>
		</div>
		<ul>
			<todo-item v-for="(item,index) of list" :key="index" :content="item" :index="index"></todo-item>
		</ul>

		<p>总结：父组件向子组件传值，使用属性传值，父组件需要使用props来接收获取值得</p>
		<p>组件是页面的某一部分，如何对组件拆分，可以用Vue.component，使用局部组件需要在vue实例使用components来声明</p>
	</div>
	<script>
		Vue.component('todo-item',{
			props: ["content","index"],
			template: '<li>{{content}}</li>'
		})
        // var TodoItem = {
        // 	template:'<li>item1</li>'
        // }

		new Vue({
			el: "#root",
			// components: {
			// 	"todo-item":TodoItem
			// },
			data: {
				inputValue: '',
				list: []
			},
			methods: {
				handleSubmit: function(){
					if(this.inputValue==""){
						return false;
					}
					this.list.push(this.inputValue);
					this.inputValue=''
				}
			}
		})
	</script>
</body>
</html>